/* Write your CSS here */
.bg-container {
  background-color: #93c5fd;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #ffffff;
  border-radius: 10px;
  width: 96%;
  padding: 20px;
  max-width: 350px;
}

.capital {
  font-size: 17px;
  font-weight: 400;
  font-family: 'Roboto';
}

.select-tag {
  width: 200px;
  font-weight: 400;
  font-family: 'Roboto';
  font-size: 17px;
  padding-top: 8px;
  padding-bottom: 8px;
}
